html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
:focus {
  outline: 0;
  border: none;
}
.navBar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 10vh;
  /*border: 2px solid red;*/
  background: rgba(4, 4, 4, 0.6);
  color: white;
  font-family: 'Oswald', sans-serif;
  z-index: 10000;
}
.siteTitle {
  text-decoration: none;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  width: 30vw;
  font-size: 1.6em;
  left: 4vw;
  text-shadow: 1px 0px 0px black;
}
.siteTitle a {
  text-decoration: none;
}
.siteTitle a:visited {
  color: white;
  outline: 0;
}
.mainMenu {
  position: relative;
  width: 50vw;
  display: flex;
  flex-direction: row;
  right: 7vw;
  align-items: center;
  /*border: 2px solid blue;*/
  text-align: center;
  color: white;
}
.mainMenu a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  border: 2px solid tranparent;
  align-content: center;
  width: 1vw;
  height: 6vh;
  justify-content: center;
  color: white;
  border-radius: 5px;
}
.mainMenu a:hover {
  color: rgb(74, 73, 70);
  background-color: white;
  transition: all 0.4s ease-out 0s;
}
.mainMenu a:focus {
  outline: 0;
  border: 2px solid white;
}
.page1 {
  position: relative;
  max-width: 100vw;
  background-color: black;
}
.mainImage {
  position: relative;
  /*For picture*/
  /*max-height: 100vh;
  height: auto;*/
  /*For video*/
  height:100%;
  width: 100%;
  z-index: 100;
  opacity: 0.8;
}
.homeFrase {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 40vh;
  width: 100vw;
  height: 20vh;
  z-index: 1002;
  color: white;
  border-radius: 5px;
  font-family: 'Oswald', sans-serif;
  line-height: 1.2em;
}
/*.homeFrase span img {
  position: absolute;
  left: 10vw;
  bottom: -25px;
  max-height: 30vh;
  height: auto;
  width: 15vw;
  border-radius: 50%;
  border: 3px solid white;
  transition: 0.5s linear all;
}

.homeFrase span img.ng-hide {
    opacity: 0;
}*/

.frase {
  display: flex;
  border: 1px solid white;
  height: 14vh;
  width: 28vw;
  align-items: center;
  justify-content: center;
  font-size: 5vw;
}
#pp2 {
  position: relative;
  top: -10vh;
}
.page2 {
  position: relative;
  max-width: 100vw;
}
.page2-intro {
  position: relative;
  top: 23px;
  height: 155px;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.page2 i {
  position: relative;
  color: white;
  border-radius: 50%;
  padding: 20px;
  background: rgb(203, 203, 203);
  text-align: center;
}
.page2 h3 {
  position: relative;
  top: 10px;
  color: rgb(88, 88, 85);
  font-size: 2em;
  font-family: 'Oswald', sans-serif;
  background-color: white;
  line-height: 1.3em;
}
.page2 h3 span {
  color: white;
  background-color: rgb(88, 88, 85);
  border-radius: 3px;

}
/*.socialMedia{
  position: relative;
  display: inline-block;
  max-height: 9vh;
  width: 100vw;
}
.socialMedia i {
  float: right;
  top: -10px;
  right: 7vw;
  background: transparent;
  color: rgb(81, 86, 87);
}*/
.p2Content {
  position: relative;
  top: -5vh;
  display: flex;
}
.p2Left {
  position: relative;
  display: flex;
  width: 35%;
  height: auto;
  min-height: 70vh;
  max-height: 100vh;
}
.p2Left img {
  position: absolute;
  left: 75px;
  top: 80px;
  width: 260px;
  height: 260px;
  border-radius: 10px;
}
.p2Right {
  position: relative;
  right: 75px;
  padding: 90px 0px 90px 180px;
  width: 65%;
  height: auto;
  min-height: 70vh;
  max-height: 100vh;
  overflow: auto;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}
.p2Footer {
  position: relative;
  display: inline-block;
  height: 1vh;
  width: 100vw;
}
.page3 {
  position: relative;
  display: block;
  height: 100vh;
  width: 100vw;
  z-index: 1002;
  background: rgb(81, 86, 87);
}
.page3-intro {
  position: relative;
  top: 23px;
  height: 155px;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.page3 i {
  position: relative;
  top: 7vh;
  color: white;
  border-radius: 50%;
  padding: 20px;
  background: rgba(203, 203, 203, 0.65);
  text-align: center;
}
.page3 h3 {
  position: relative;
  top: 8vh;
  color: white;
  font-size: 2em;
  font-family: 'Oswald', sans-serif;
  background-color: rgb(88, 88, 85);
  line-height: 1.3em;
  letter-spacing: 1px;

}
.page3 h3 span {
  position: relative;
  color: rgb(81, 86, 87);
  background-color: white;
  border-radius: 3px;
}
.p3Content {
  position: relative;
  display: flex;
}
.loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 90000;
  height: 100vh;
  width: 100vw;
  background-color: black;
  transition: 0.5s linear all;
  line-height: 5em;

}
.loading.ng-hide {
    opacity: 0;
}
.loading h3 {
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 1.4em;

}
.loading i {
  position: relative;
  color: white;
}
