html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
:focus {
  outline: 0;
  border: none;
}
.loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 90000;
  height: 100vh;
  width: 100vw;
  background-color: black;
  transition: 0.7s linear all;
  line-height: 5em;

}
.loading.ng-hide {
    opacity: 0;
}
.loading h3 {
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 1.4em;

}
.loading i {
  position: relative;
  color: white;
}
/*Start of typed.js css*/
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
/*end of type.js css*/
.navBar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 10vh;
  /*border: 2px solid red;*/
  background: rgba(4, 4, 4, 0.6);
  color: white;
  font-family: 'Oswald', sans-serif;
  z-index: 10000;
}
.siteTitle {
  text-decoration: none;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  width: 30vw;
  font-size: 1.7em;
  left: 4vw;
  text-shadow: 1px 0px 0px black;
}
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3){
  .siteTitle {
    font-size: 1em;
  }
  .mainMenu {
    font-size: 0.5em;
  }

}
.siteTitle a {
  text-decoration: none;
}
.siteTitle a:visited {
  color: white;
  outline: 0;
}
.siteTitle a:hover {
  color:rgb(210, 210, 210);
}
.mainMenu {
  position: relative;
  width: 50vw;
  display: flex;
  flex-direction: row;
  right: 7vw;
  align-items: center;
  /*border: 2px solid blue;*/
  text-align: center;
  color: white;
}
.mainMenu a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  border: 2px solid tranparent;
  align-content: center;
  width: 1vw;
  height: 6vh;
  justify-content: center;
  color: white;
  border-radius: 5px;
}
.mainMenu a:hover {
  color: rgb(74, 73, 70);
  background-color: white;
  transition: all 0.4s ease-out 0s;
}
.mainMenu a:focus {
  outline: 0;
  border: 2px solid white;
}
.page1 {
  position: relative;
  max-width: 100vw;
  background-color: black;
}
.mainImage {
  position: relative;
  /*For picture*/
  /*max-height: 100vh;
  height: auto;*/
  /*For video*/
  height:100%;
  width: 100%;
  z-index: 100;
  opacity: 0.8;
}
.homeFrase {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 40vh;
  width: 100vw;
  height: 20vh;
  z-index: 1002;
  color: white;
  border-radius: 5px;
  font-family: 'Oswald', sans-serif;
  font-size: 4vw;
  line-height: 1em;
}

.page2 {
  position: relative;
  max-width: 100vw;
}
.page2-intro {
  position: relative;
  top: 23px;
  height: 155px;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.page2 i {
  position: relative;
  color: white;
  border-radius: 50%;
  padding: 20px;
  background: rgb(203, 203, 203);
  text-align: center;
}
.page2 h3 {
  position: relative;
  top: 10px;
  color: rgb(88, 88, 85);
  font-size: 2em;
  font-family: 'Oswald', sans-serif;
  background-color: white;
  line-height: 1.3em;
}
.page2 h3 span {
  color: white;
  background-color: rgb(88, 88, 85);
  border-radius: 3px;

}
.p2Content {
  position: relative;
  top: 5vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 60px;
}


.p2Left {
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 50vw;
  height: 100vh;
  border: 3px solid green;
}
#profileLeft {
  padding-right: 50px;
}

#profileP {
  justify-content: center;
  text-align: justify;
  line-height: 2.0em;
  max-width: 25rem;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1.3px;
}
#profileP span {
  letter-spacing: 3px;
}
#profilePicture {
  position: relative;;
  width: 15rem;
  height: 15rem;
  border-radius: 10px;
}
.p2Footer {
  position: relative;
  display: inline-block;
  height: 1vh;
  width: 100vw;
}
.page3 {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1002;
  background: rgb(81, 86, 87);
}
.page3-intro {
  position: relative;
  top: 23px;
  height: 155px;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.page3 i {
  position: relative;
  top: 0.5vh;
  color: white;
  border-radius: 50%;
  padding: 20px;
  background: rgba(203, 203, 203, 0.65);
  text-align: center;
}
.page3 h3 {
  position: relative;
  top: 1.5vh;
  color: white;
  font-size: 2em;
  font-family: 'Oswald', sans-serif;
  background-color: rgb(81, 86, 87);
  line-height: 1.3em;
  letter-spacing: 1px;

}
.page3 h3 span {
  position: relative;
  color: rgb(81, 86, 87);
  background-color: white;
  border-radius: 3px;
}

.p3Content {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  height:60vh;
  top: 2vh;
  /*border: 3px solid red;*/
  background:rgb(81, 86, 87);
  color: white;
  font-family: 'Oswald', sans-serif;
}
.p3Desc {
  position: relative;
  display: flex;
  justify-content: center;
  height: 15%;
  width: 100%;
  /*border: 3px solid green;*/
}
.p3Desc h5 {
  position: relative;
  top: 3vh;
  text-align: center;
  font-size: 1.2em;
  color: rgb(178, 178, 180);

}
.p3Skills {
  position: relative;
  top: 1vh;
  display: flex;
  /*border: 5px solid blue;*/
  justify-content: space-between;
  flex-wrap: wrap;
  height: 75%;
  width: 80%;
}
.skillsChar{
  position: relative;
  display: flex;
  width: 20%;
  font-size: 0.7em;
  height: 25vh;
  max-height: 20vw;
  border: 2px solid white;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgb(111, 116, 117);
  border-radius: 1px;
  letter-spacing: 0.5px;
  text-shadow: black 0.5px 0.5px 0.5px;
}
.skillsChar:hover {
  font-size: 0;
}
.skillsChar:hover {
  background: white;
  border: 3px solid white;
  transition-property: background;
  transition-duration: 0.8s;
  transition-timing-function: ease-out;
  z-index: 10;
}
#htmlsk:hover:after {
  /*content: attr(data-skl-alt);*/
  content: url("img/icons/html5.png");
  word-wrap: break-word;
}
#csssk:hover:after {
  /*content: attr(data-skl-alt);*/
  content: url("img/icons/css3.png");
  word-wrap: break-word;
}
#jssk:hover:after {
  /*content: attr(data-skl-alt);*/
  content: url("img/icons/js.png");
  word-wrap: break-word;
}
#jquerysk:hover:after {
  /*content: attr(data-skl-alt);*/
  content: url("img/icons/jquery.png");
  word-wrap: break-word;
}
#angularsk:hover:after {
  /*content: attr(data-skl-alt);*/
  content: url("img/icons/angular.png");
  word-wrap: break-word;
}
#gitsk:hover:after {
  /*content: attr(data-skl-alt);*/
  content: url("img/icons/git.png");
  word-wrap: break-word;
}
#firebasesk:hover:after {
  /*content: attr(data-skl-alt);*/
  content: url("img/icons/firebase.png");
  word-wrap: break-word;
}
#mongosk:hover:after {
  /*content: attr(data-skl-alt);*/
  content: url("img/icons/mongo.png");
  word-wrap: break-word;
}
#nodesk:hover:after {
  /*content: attr(data-skl-alt);*/
  content: url("img/icons/nodejs.png");
  word-wrap: break-word;
}
#reactsk:hover:after {
  /*content: attr(data-skl-alt);*/
  content: url("img/icons/react.png");
  word-wrap: break-word;
}


.p3Footer {
  height: 6em;
}

.page4 {
  position: relative;
  height: auto;
  min-height: 100%;
  width: 100%;
  z-index: 1002;
  background: white;
}
.page4-intro {
  position: relative;
  top: 23px;
  height: 155px;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.page4 i {
  position: relative;
  top: 0.5vh;
  color: white;
  border-radius: 50%;
  padding: 20px;
  background: rgba(203, 203, 203, 0.65);
  text-align: center;
}
.page4 h3 {
  position: relative;
  top: 1.5vh;
  color: rgb(81, 86, 87);
  background-color: white;
  font-size: 2em;
  font-family: 'Oswald', sans-serif;
  line-height: 1.3em;
  letter-spacing: 0.5px;

}
.page4 h3 span {
  position: relative;
  color: white;
  background-color: rgb(88, 88, 85);
  border-radius: 3px;
}
.p4Content {
  position: relative;
  display: flex;
}

.p4Content {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: auto;
  min-height:100vh;
  top: 2vh;
  /*border: 3px solid red;*/
  background:white;
  color: black;
  font-family: 'Oswald', sans-serif;
}
.p4Desc {
  position: relative;
  display: flex;
  justify-content: center;
  height: 15%;
  width: 100%;
  /*border: 3px solid green;*/
}
.p4Desc h5 {
  position: relative;
  top: 3vh;
  text-align: center;
  font-size: 1.2em;
  color: rgb(178, 178, 180);

}
.p4Projs {
  position: relative;
  top: 1vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;;
  flex-wrap: wrap;
  height: auto;
  min-height: 75%;
  width: 90%;
}
.portfolioTitle {
  font-size: 1.3em;
}
.portfolioPiece {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  border-radius: 5px;
  background: white;
}
.projChar{
  position: relative;
  display: flex;
  width: 70%;
  height: 50vh;
  margin: 50px;
  border: 1px solid grey;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgb(111, 116, 117);
  border-radius: 1px;
}
.projChar:hover {
  font-size: 0;
}
.projChar:hover {
  background: white;
  border: 5px solid rgb(50, 50, 50);
  /*transition-property: background;
  transition-duration: 1s;
  transition-timing-function: ease-out;*/
  z-index: 10;
}
#proj1 {
  display: flex;
  background:url('img/utahAnglers.png');
  background-size: cover;
  text-decoration: none;
}
#proj1:hover {
  display: flex;
  background:white;
  border: 2px solid rgb(187, 187, 187);
  padding: 40px;
}
#proj1 p {
  display: none;
}
#proj1:hover p {
  display: flex;
  opacity: 1;
}

#proj1:hover p:after {
  content:'Utah Anglers Club is a Personal Project that I built in two weeks during a coding bootcamp at DevMountain';
  font-size: 1rem;
  line-height: 2.5rem;
  text-align: justify;
  color: black;
  word-wrap: break-word;

}
#proj2 {
  display: flex;
  background:url('img/waitr.png');
  background-size: cover;
  text-decoration: none;
}
#proj2:hover {
  display: flex;
  background:white;
  border: 2px solid rgb(187, 187, 187);
  padding: 40px;
}
#proj2 p {
  display: none;
}
#proj2:hover p {
  display: flex;
  opacity: 1;
}

#proj2:hover p:after {
  content:'Waitr is a mobile app that I built with a team.';
  font-size: 1rem;
  line-height: 2.5rem;
  text-align: justify;
  color: black;
  word-wrap: break-word;

}
#proj3 {
  display: flex;
  background:url('img/portfoliosnap.png');
  background-size: cover;
  text-decoration: none;
}
#proj3:hover {
  display: flex;
  background:white;
  border: 2px solid rgb(187, 187, 187);
  padding: 40px;
}
#proj3 p {
  display: none;
}
#proj3:hover p {
  display: flex;
  opacity: 1;
}

#proj3:hover p:after {
  content:'This is a Personal Portfolio Website. I built this website in 3 days.';
  font-size: 1rem;
  line-height: 2.5rem;
  text-align: justify;
  color: black;
  word-wrap: break-word;

}
.p4Footer {
  height: 0rem;
}
.page5 {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1002;
  background: rgb(81, 86, 87);
}
.page5-intro {
  position: relative;
  top: 23px;
  height: 155px;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.page5 i {
  position: relative;
  top: 0.5vh;
  color: white;
  border-radius: 50%;
  padding: 20px;
  background: rgba(203, 203, 203, 0.65);
  text-align: center;
}
.page5 h3 {
  position: relative;
  top: 1.5vh;
  color: white;
  font-size: 2em;
  font-family: 'Oswald', sans-serif;
  background-color: rgb(81, 86, 87);
  line-height: 1.3em;
  letter-spacing: 1px;

}
.page5 h3 span {
  position: relative;
  color: rgb(81, 86, 87);
  background-color: white;
  border-radius: 3px;
}

.p5Content {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  height:60vh;
  top: 2vh;
  /*border: 3px solid red;*/
  background:rgb(81, 86, 87);
  color: white;
  font-family: 'Oswald', sans-serif;
}
.p5Desc {
  position: relative;
  display: flex;
  justify-content: flex-end;
  right: 5rem;
  height: 15%;
  width: 100%;
  /*border: 3px solid green;*/
}
.p5Desc h5 {
  position: relative;
  top: 3vh;
  text-align: center;
  font-size: 1.2em;
  /*border: 3px solid green;*/
  color: rgb(178, 178, 180);
}

.p5Inputs {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 1rem;
  height: 80vh;
  width: 50vw;
}
.p5Inputs input {
border: 1px solid rgb(167, 167, 167);
font-family: 'Oswald', sans-serif;
font-size: 0.9rem;

}
.p5Inputs textarea {
  border: 1px solid rgb(167, 167, 167);
  font-family: 'Oswald', sans-serif;
  font-size: 0.9em;
  font-weight: lighter;
}
#contName {
  height: 9vh;
  text-indent: 0.3em;

}
#contEmail {
  height: 9vh;
  text-indent: 0.3em;

}
#contMessage {
  height: 30vh;
  text-indent: 0.3em;

}
#contButton {
  position: relative;
  width: 10vw;
  height: 6vh;
  top: 0.5rem;
  color:rgb(112, 112, 112);
  background-color: white;
  cursor: pointer;

}
.socialMedia{
  position: relative;
  display: flex;
  flex-flow: row;
  justify-content: justify;
  align-self: flex-end;
  right: 24vw;
  max-height: 9vh;
  width: 24.4vw;
}
.socialMedia a{
  letter-spacing: -1rem;

}

.socialMedia i {
  position: relative;
  background: transparent;
  color: white;

}

.p5Footer {
  height: 6em;
}

.blogPage {
  display: flex;
  justify-content: flex-start;
  background-color:#e6e6d3;
  width: 100vw;
  height: 300vh;
  overflow: hidden;

}
.topImageBlog {
  position: relative;
  display: flex;
  background: url('img/typewriter.png');
  /*background: red;*/
  background-size: cover;
  overflow: hidden;
  height: 60vh;
  width: 100vw;
}

#blankBackground{
  position: absolute;
  display: flex;
  background-color: white;
  top: 30vh;
  width: 70vw;
  height: 250vh;
  z-index: 2;
  margin: 0 auto;
  left: 0;
  right: 0;
  border-radius: 3px;
}

.blogPosts {
  position: relative;
  display: flex;
  flex-flow: column;
  flex-direction: column;
  font-family: 'Oswald', sans-serif;
  border: 3px solid rgba(193, 193, 193, 0.62);
  width: 100%;
}
.singlePost {
  position: relative;
  display: flex;
  flex-flow: column;
  flex-direction: column;
  top: 10vh;
  left: 6.6vw;
  height: auto;
}
.titlePosts{
  font-size: 1.8em;
  line-height: 2rem;
  word-wrap: break-word;
  max-width: 87%;
}
.paragPosts {
  position: relative;
  display: flex;
  font-size: 0.9rem;
  line-height: 2rem;
  word-wrap: break-word;
  max-width: 80%;
  text-align: justify;
}
.adminBackground {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: url('img/blog.png');
  background-size: cover;
}
.adminInputs {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: -5rem;
  height: 50vh;
  width: 35vw;
  font-family: 'Oswald', sans-serif;
  font-size: 0.9em;
  font-weight: lighter;
}
#adminTitle {
  height: 9vh;
  text-indent: 0.3em;
  border: 2px solid rgb(107, 107, 107);
}

#adminText {
  position: relative;
  top: -2px;
  height: 30vh;
  text-indent: 0.3em;
  border: 2px solid rgb(107, 107, 107);

}
#adminButton {
  position: relative;
  width: 10vw;
  height: 6vh;
  top: 0.5rem;
  color:rgb(112, 112, 112);
  border: 2px solid rgb(107, 107, 107);
  background-color: white;
  cursor: pointer;
}
#pp3 {
  position: relative;
  bottom: 10vh;
}
#pp2 {
  position: relative;
  top: -10vh;
}
 #pp4 {
   position: relative;
   bottom: 10vh;
 }
 #pp5 {
   position: relative;
   bottom: 10vh;
 }
