<div class="navBar">
  <div class="siteTitle"><a href="">CLEBER ALBUQUERQUE</a></div>
  <div class="mainMenu">
    <a id="homeButton" ui-sref="home" ng-click="scrollToPlace('#pp1')">Home</a>
    <a id="profileButton" ui-sref="home" ng-click="scrollToPlace('#pp2')">Profile</a>
    <a id="skillsButton" ui-sref="home" ng-click="scrollToPlace('#pp3')">Skills</a>
    <a id="portfolioButton" ui-sref="home" ng-click="scrollToPlace('#pp4')">Portfolio</a>
    <a id="blogButton" ui-sref="blog()">Blog</a>
    <a id="contactButton" href="">Contact</a>
  </div>
</div>
